<!--<mat-toolbar color="primary" class="navbar">
  <div>{{title}}</div>
</mat-toolbar>
<br>

<div fxLayout="column" fxLayoutAlign="start center">
  <img [src]="imgurl" class="img">
  <h2 class="para">Welcome to magical world!!</h2>
</div>

<div style="margin-left: 50px;">
  <button type="button" class="btn btn-info" (click)="isShow = !isShow" >
    Show all parts
  </button><br><br>
  <ul  class="list-group" *ngIf="isShow">
    <li class="list-group-item" style="width: 500px;" *ngFor="let series of series">
      {{ series.name }}
    </li>
  </ul><br><br>
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="1">Part 1</button>&nbsp;
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="2">Part 2</button>&nbsp;
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="3">Part 3</button>&nbsp;
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="4">Part 4</button>&nbsp;
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="5">Part 5</button>&nbsp;
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="6">Part 6</button>&nbsp;
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="7">Part 7</button>&nbsp;
  <button type="button" class="btn btn-warning" (click)="showName($event)" value="8">Part 8</button><br>
  <p >{{seriesName?.name}}</p>
  
  <p><app-child-component (clicked) = "onClicked($event)"></app-child-component>&nbsp;{{childMsg}}</p><br>
  
  <div>
    <label>Type any text here</label>
    <input [(ngModel)]="name" type="text" class="form-control" style="width: 200px;">
    <p>Text typed by you is : {{name}}</p>
</div>
  <br>

  <h4>@Input,Attribute directive</h4>
  <input type="radio" name="colors" (click)="color='lightgreen'"> Green
  <input type="radio" name="colors" (click)="color='yellow'"> Yellow
  <input type="radio" name="colors" (click)="color='cyan'"> cyan

  <p [appHighlight]="color">Highlight me!!</p><br><br>

  <h6>Template reeference variable</h6>
  <form class="form-inline">
    <input #email placeholder="Email id" class="form-control" style="width: 300px;"/>&nbsp;
    <button type="button" class="btn btn-success" (click)="getEmail(email.value)">Save</button>&nbsp;&nbsp;
    {{emailid}}
  </form>
  <br><br>

  <h6>User input & Pipe operator for upper case letter</h6>
  <form class="form-inline">
    <input #pname placeholder="Enter name and press enter" class="form-control" style="width: 400px;" (keyup.enter)="onEnter(pname.value)"/>&nbsp;
    
    {{upperName | uppercase }}
  </form>
  <br><br>
</div>-->
<app-main-nav>
  <router-outlet></router-outlet> 
</app-main-nav>